@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1c1832;
  color: #f9f6fe;
}

a {
  color: #c2a1ff;
}

h1 {
  text-align: center;
  font-size: 4em;
}

.project-description {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
}

.card {
  width: 300px;
  height: 245px;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #a8b3cf33;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    0 6px 6px -2px #00000066;
    background-color: #1C1F26;
    border-radius: 16px;
    text-decoration: none;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.6s;
}

.card p {
  font-size: 20px;
  color: #FBFBFC;
  font-weight: 500;
  margin: 5px 0px 10px 10px;
}

.card .image-wrapper {
  height: 200px;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
